/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
 margin: 0;
 padding: 0;
 border: 0;
 font-size: 100%;
 font: inherit;
 vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
 display: block;
}
body {
 line-height: 1;
}
ol, ul {
 list-style: none;
}
blockquote, q {
 quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
 content: '';
 content: none;
}
table {
 border-collapse: collapse;
 border-spacing: 0;
}

@font-face {
    font-family: digitalNumbers;
    src: url(digital-7.ttf);
}


h1 {
    text-align: center;
}

body {
    background-color: beige;
    display: flex;
    justify-content: center;
}

.calculator {
    border-radius: 25px;
    margin-top: 20px;
    background-color: grey;
    width: 400px;
    height:600px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.display {
    border-radius: 25px;
    border: 1px solid black;
    font-size: 30px;
    text-align: center;
    background-color: lightblue;
    width: 350px;
    margin-top: 40px;
    height: 80px;
    display: flex;
    flex-direction: row-reverse;
}

.display-output-container {
    display: flex;
    padding: 5px;
    flex-direction: column;
    justify-content: center;
}

.display-output, .display-output-top {
    font-family: digitalNumbers;
    align-self: flex-end;
}

.display-output-top {
    font-size: 25px;
}

.display-output {
    font-size: 50px;
}

.button-grid {
    display: flex;
    padding: 15px;
    flex-direction: column;
    gap: 5px;
    width: 400px;
}

.calc-buttons {
    font-size: 40px;
    z-index: 1;
    background-color: lightgray;
    width: 80px;
    height: 80px;
    border-radius: 25px;
}

.function {
    background-color: skyblue;
}

.button-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#plus-minus img {
    width: 20px;
}

#plus-minus {
    font-size: 20px !important;
}

#equals{
    max-width: 180px;
    flex: 2;
    background-color: #CBC3E3;
}

.clear {
    background-color: lightpink;
}


.func-icon {
    width: 25px;
}

h1 {
    margin-top: 10px;
    font-family: 'Dancing Script', cursive;
    font-size: 20px;
    text-align: center;
}

footer {
    position: fixed;
    padding: 10px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: lightblue;
    color: black;
    text-align: center;
}